table {
	border:  1px solid silver
}
td:hover {
	background-color: yellow;
	color: black;
	cursor: pointer;
}
tr, th {
	background-color: black;
	color: cornsilk;
}
tr, td {
	background-color: darkgreem;
	color: white;
}
